---
layout: page
title: About Vaibhav
published: true
---
<div id="container-x">
  <section class='banner container-fluid'>
    </section>
    <div id='main' class="container">
      <div class="row justify-content-between">
          <div id = "main-col" class="col-md-4">
              <section>
                <img id='profile' src="/images/mylogo.png" width="150px" alt=''>
                <h3>Vaibhav Joshi</h3>
                <p>Security Consultant | Security Researcher | Penetration Tester</p>
                <img src="/images/netsentries.jpg" alt="" width="115"><img src="/images/Synack.jpg" alt="" width="115"><img src="/images/bugcrowd.jpg" alt="" width="115">
              </section>
              <hr>
              <section>
                <h3>Certifications</h3>
                <b>Offensive Security</b>
                <ul>
                  <li>
                    <a href="https://www.youracclaim.com/badges/7bd55e66-69ef-403a-8943-23b874bd397b">Offensive Security Certified Professional</a>
                  </li>
                </ul>
                <b>Qualys Inc.</b>
                <ul>
                  <li>
                    Vulnerability Management
                  </li>
                  <li>
                    Web Application Scanning
                  </li>
                  <li>
                    Policy Compliance
                  </li>
                  <li>
                    PCI Compliance
                  </li>
                </ul>
                <b>LinkedIn Learning</b>
                <ul>
                  <li>
                    Web Security - OAuth and OpenID Connect
                  </li>
                </ul>
                <b>PentesterLab</b>
                <ul>
                  <li>
                    Introduction Badge
                  </li>
                  <li>
                    Unix Badge
                  </li>
                  <li>
                    Essential Badge
                  </li>
                  <li>
                    Serialize Badge
                  </li>
                  <li>
                    PCAP badge
                  </li>
                  <li>
                    White Badge
                  </li>
                </ul>
                <b>HackerRank</b>
                <ul>
                  <li>
                    <a href="https://www.hackerrank.com/certificates/d781cd620347">Python (Basic)</a>
                  </li>
                </ul>
                <b>Armour Infosec</b>
                <ul>
                  <li>
                    Certified Ethical Hacking & Penetration Testing Expert
                  </li>
                  <li>
                    Certified Linux Server Administrator
                  </li>
                  <li>
                    Certified Windows Server Administrator
                  </li>
                </ul>
                <b>Fortinet NSE Institute</b>
                <ul>
                  <li>
                    Network Security Associate - NSE1
                  </li>
                  <li>
                    Network Security Associate - NSE2
                  </li>
                </ul>
                <b>Amity Future University</b>
                <ul>
                  <li>
                    Cyber Security
                  </li>
                </ul>
              </section>
          </div>
          <div class="col-md-8">
            <section>
            </br>
              <div align="center"><h3>About Me</h3></div>
              <p class="">Cyber Security Consultant with skills in Web Application Testing, Network Penetration Testing, Mobile Application Testing, Red teaming, Python programming. Currently learning about source code review of Java, C#, Node.JS, PHP.</p>
            </section>
            <section>
              <div id='featured' class="container">
                <div class="row justify-space-between align-items-stretch">
                  <div class="col-lg-6">
                    <div class="card2">
                      <div class="card-body">
                        <p class="card-title" align="center"><b>Profiles</b></p>
                        <ul>
                          <li>
                            <a href="https://bugcrowd.com/vj0shii">Bugcrowd</a>
                          </li>
                          <li>
                            <a href="https://pentesterlab.com/profile/a673f6ce43b1c569d1c53261a7">PentesterLab</a>
                          </li>
                          <li>
                            <a href="https://www.hackerrank.com/vaibhavjshii">HackerRank</a>
                          </li>
                          <li>
                            <a href="https://www.hackthebox.eu/profile/60909">HackTheBox</a>
                          </li>
                          <li>
                            <a href="https://medium.com/@vj0shii">Medium</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-6">
                    <div class="card2">
                      <div class="card-body">
                        <p class="card-title" align="center"><b>Appreciations & Hall Of Fame</b></p>
                        <ul>
                          <li><a href="https://www.eccouncil.org/bug-bounty/hall-of-fame/">EC-Council</a>
                          </li>
                          <li><a href="https://www.pepperfry.com/whitehat.html">Pepperfry</a>
                          </li>
                          <li><a href="https://bugcrowd.com/mailgun/hall-of-fame">Mailgun</a>
                          </li>
                          <li>Nykaa
                          </li>
                          <li><a href="https://bugcrowd.com/takeaway/hall-of-fame">Takeaway.com</a>
                          </li>
                          <li><a href="https://bugcrowd.com/takeaway/hall-of-fame">Indeed</a>
                          </li>
                          <li><a href="https://bugcrowd.com/upwork/hall-of-fame">Upwork</a>
                          </li>
                          <li><a href="https://bugcrowd.com/soundcloud/hall-of-fame">SoundCloud</a>
                          </li>
                          <li><a href="https://bugcrowd.com/seek/hall-of-fame">SEEK</a>
                          </li>
                          <li><a href="https://bugcrowd.com/skyscanner/hall-of-fame">Skyscanner</a>
                          </li>
                        </ul>
                </div>
              </div>
            </section>
            <section>
            </br>
              <div align="center"><h3>Work Experience</h3></div>
              <div id='featured' class="container">
                <div class="row justify-space-between align-items-stretch">
                  <div class="col-lg-6">
                    <a href="https://netsentries.com">
                      <div class="card professional">
                        <div class="card-body">
                          <p class="card-text">Cyber Threat Management Consultant</p>
                          <p class="card-title"><b>Netsentries Technologies</b></p>
                          <p class="text-muted">Full Time</p>
                          <p class="text-muted">Jan, 2020 - Present</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <a href="https://netsentries.com">
                      <div class="card professional">
                        <div class="card-body">
                          <p class="card-text">Cyber Threat Management Analyst</p><br>
                          <p class="card-title"><b>Netsentries Technologies</b></p>
                          <p class="text-muted">Full Time</p>
                          <p class="text-muted">Dec, 2019 - Dec 2019</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <a href="https://netsentries.com">
                      <div class="card professional">
                        <div class="card-body">
                          <p class="card-text">Associate Cyber Threat Management Analyst</p>
                          <p class="card-title"><b>Netsentries Technologies</b></p>
                          <p class="text-muted">Internship</p>
                          <p class="text-muted">Sep, 2019 - Nov, 2019</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <a href="https://armourinfosec.com">
                      <div class="card professional">
                        <div class="card-body">
                          <p class="card-text">Penetration Tester & Trainer</p><br>
                          <p class="card-title"><b>Armour Infosec</b></p>
                          <p class="text-muted">Full Time</p>
                          <p class="text-muted">March, 2019 - Aug, 2019</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <br>
            <section>
              <div align="center"><h3>Additional</h3></div>
              <div id='featured' class="container">
                <div class="row justify-space-between align-items-stretch">
                  <div class="col-lg-6">
                    <div class="card2">
                      <div class="card-body">
                        <p class="card-title" align="center"><b>Skills</b></p>
                          <ul>
                            <li>
                              Python Programming
                            </li>
                            <li>
                              C/C++ Programming
                            </li>
                            <li>
                              Blog Writting
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="card2">
                      <div class="card-body">
                        <p class="card-title" align="center"><b>Tools & Softwares</b></p>
                        <ul>
                          <li>
                            Burp Suite (Pro/Comm.)
                          </li>
                          <li>
                            Qualys
                          </li>
                          <li>
                            MS Office
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
      </div>
    </div>
</div>
    
